:root {
  --asideBg: #343a40;
  --textPgColor: #fafafa;
  --buttonAuthBg: #a8a8b3;
  --buttonAuthColor: #171717;
  --separatorColor: #424242;
  --textareaInputBg: #2e2e2e;
  --textareaInputColor: #e8f0f2;
  --h1ContentColor: #fafafa;
  --spanQuestionColor: #9e9e9e;
  --spanCodeColor: #fafafa;
  --buttonEndroomBg: #835afd;
  --buttonEndroomColor: #f8f8f8;
}

#page-room {
  /* Theme dark */

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;
    &.theme-dark {
      border-bottom: 1px solid var(--separatorColor);
    }

    .content {
      max-width: 1120px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      span {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      button {
        height: 40px;
      }

      .logo-toggle {
        display: flex;
        gap: 32px;

        .toggle-theme {
          display: flex;
          align-items: center;
          gap: 16px;

          .light {
            font-weight: bold;
          }
          .dark {
            font-weight: bold;
          }
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;

      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #29292e;
        &.theme-dark {
          color: var(--h1ContentColor);
        }

        margin-right: 16px;
      }

      span {
        background: #e559f9;
        color: #29292e;
        &.theme-dark {
          color: var(--textPgColor);
        }

        border-radius: 9999px;
        padding: 8px 16px;

        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 121px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
        background: #fefefe;
        color: #29292e;

        &.theme-dark {
          background: var(--textareaInputBg);
          color: var(--textareaInputColor);
        }

        &:focus-visible {
          outline: none;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;
          gap: 8px;

          > img {
            max-height: 32px;
            border-radius: 50%;
          }

          > span {
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: #737380;

            &.theme-dark {
              color: var(--spanQuestionColor);
            }
          }
        }

        span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          &.theme-dark {
            color: var(--spanQuestionColor);
          }

          button {
            border: none;
            background: #835afd;

            font-size: 14px;
            text-decoration: underline;
            color: #fefefe;

            cursor: pointer;
          }
        }
      }
    }

    .questions {
      margin-top: 32px;

      & + .questions {
        margin-bottom: 8px;
      }
    }
  }
}
