:root {
  --asideBg: #343a40;
  --textPgColor: #fafafa;
  --buttonAuthBg: #a8a8b3;
  --buttonAuthColor: #171717;
  --separatorColor: #424242;
  --textareaInputBg: #2e2e2e;
  --textareaInputColor: #e8f0f2;
  --h1ContentColor: #fafafa;
  --spanQuestionColor: #9e9e9e;
  --spanCodeColor: #fafafa;
  --buttonEndroomBg: #835afd;
  --buttonEndroomColor: #f8f8f8;
}

.question {
  background: #fefefe;
  color: #29292e;
  &.theme-dark {
    background: var(--textareaInputBg);
    color: var(--textareaInputColor);
  }

  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: var(--textareaInputBg);
    border: 1px solid #835afd;

    .highlighted-button {
      svg path {
        stroke: #835afd;
        transition: stroke 0.2s;
      }
    }

    footer {
      .user-info,
      .user-info span {
        color: #fafafa;
      }
    }
  }

  &.answered {
    background: #dbdcdd;
    border: none;

    .answered-button {
      svg path {
        stroke: #835afd;
        transition: stroke 0.2s;
      }

      svg circle {
        stroke: #835afd;
        transition: stroke 0.2s;
      }
    }
  }

  p {
    color: #29292e;
    &.theme-dark {
      color: var(--textPgColor);
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;

      > img {
        max-height: 32px;
        border-radius: 50%;
      }

      > span {
        font-size: 14px;
        line-height: 16px;
        color: #737380;
        &.theme-dark {
          color: var(--spanQuestionColor);
        }
      }
    }

    .interactive > img {
      cursor: pointer;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }

    .interaction {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        &:hover {
          svg path {
            stroke: #835afd;
            transition: stroke 0.2s;
          }
          svg circle {
            stroke: #835afd;
            transition: stroke 0.2s;
          }
        }
      }

      .delete-button {
        &:hover {
          svg path {
            stroke: #e73f5d;
            transition: stroke 0.2s;
          }
        }
      }
    }
  }
}
